.App-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: 
  "h h" 
  "n c";

  grid-auto-rows: 50px 1fr;
  grid-auto-columns: 1fr 10fr;
}


.App-wrapper-content{
  grid-area: c;
  background-color: indianred;
} 

